.navControl {
    display: inline-block;
    position: relative;
}
.navControl::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0D47A1;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.navControl:hover{
    color: #1565C0;
}
.navControl:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}